xsd_dtd/shops-context.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- edited with XMLSpy v2013 rel. 2 sp2 (http://www.altova.com) by Alex Kashevsky (Home) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ins="http://www.ins.com" elementFormDefault="qualified">
	<xs:element name="yml_catalog">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="shop"/>
			</xs:sequence>
			<xs:attribute name="date" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="\d{4}-\d{2}-\d{2}\s\d{2}:\d{2}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="shop">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="company" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="url"/>
				<xs:element ref="phone" minOccurs="0"/>
				<xs:element ref="platform" minOccurs="0"/>
				<xs:element ref="version" minOccurs="0"/>
				<xs:element ref="agency" minOccurs="0"/>
				<xs:element ref="email" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="currencies" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="categories" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="store" minOccurs="0"/>
				<xs:element ref="pickup" minOccurs="0"/>
				<xs:element ref="delivery" minOccurs="0"/>
				<xs:element ref="deliveryIncluded" minOccurs="0"/>
				<xs:element ref="local_delivery_cost" minOccurs="0"/>
				<xs:element ref="adult" minOccurs="0"/>
				<xs:element ref="offers" minOccurs="1" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
		<xs:keyref name="categoryFK" refer="categoryPK">
			<xs:selector xpath="offers/offer/categoryId"/>
			<xs:field xpath="."/>
		</xs:keyref>
		<xs:keyref name="currencyFK" refer="currency.pk">
			<xs:selector xpath="offers/offer/currencyId"/>
			<xs:field xpath="."/>
		</xs:keyref>
	</xs:element>
	<xs:element name="company" nillable="false">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:whiteSpace value="collapse"/>
				<xs:minLength value="1"/>
				<xs:pattern value=".+"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="phone" type="xs:string"/>
	<xs:element name="currencies">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="currency" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
		<xs:key name="currency.pk">
			<xs:selector xpath="currency"/>
			<xs:field xpath="@id"/>
		</xs:key>
	</xs:element>
	<xs:element name="currency">
		<xs:complexType>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="RUR"/>
						<xs:enumeration value="RUB"/>
						<xs:enumeration value="USD"/>
						<xs:enumeration value="BYR"/>
						<xs:enumeration value="KZT"/>
						<xs:enumeration value="EUR"/>
						<xs:enumeration value="UAH"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="rate" type="xs:string" default="1"/>
			<xs:attribute name="plus" type="xs:string" default="0"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="categories">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="category" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
		<xs:key name="categoryPK">
			<xs:selector xpath="category"/>
			<xs:field xpath="@id"/>
		</xs:key>
	</xs:element>
	<xs:element name="category">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="id" type="xs:int" use="required"/>
					<xs:attribute name="parentId" type="xs:string"/>
					<xs:attribute name="tid" type="xs:string"/>
					<xs:attribute name="yid" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="offers">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="offer" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
		<xs:key name="offer.pk">
			<xs:selector xpath="offer"/>
			<xs:field xpath="@id"/>
		</xs:key>
	</xs:element>
	<xs:element name="offer">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="url" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="buyurl" minOccurs="0"/>
				<xs:element ref="price" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="wprice" minOccurs="0"/>
				<xs:element ref="currencyId" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="xCategory" minOccurs="0"/>
				<xs:element ref="categoryId" minOccurs="1" maxOccurs="unbounded"/>
				<xs:element ref="market_category" minOccurs="0"/>
				<xs:element ref="picture" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="store" minOccurs="0"/>
				<xs:element ref="pickup" minOccurs="0"/>
				<xs:element ref="delivery" minOccurs="0"/>
				<xs:element ref="deliveryIncluded" minOccurs="0"/>
				<xs:element ref="local_delivery_cost" minOccurs="0"/>
				<xs:element ref="orderingTime" minOccurs="0"/>
				<xs:choice>
<!-- 					контекстная реклама -->
					<xs:sequence>
                                          <xs:element ref="typePrefix" minOccurs="0"/>
                                          <xs:element ref="vendor" minOccurs="1" maxOccurs="1"/>
						<xs:element ref="vendorCode" minOccurs="0"/>
						<xs:element ref="model" minOccurs="1" maxOccurs="1"/>
						<xs:sequence minOccurs="0">
							<xs:element ref="provider"/>
							<xs:element ref="tarifplan" minOccurs="0"/>
						</xs:sequence>
					</xs:sequence>
<!-- 					типовой YML -->					
					<xs:sequence>
						<xs:element ref="name" minOccurs="0" maxOccurs="0"/>
						<xs:element ref="vendor" minOccurs="0" maxOccurs="0"/>
						<xs:element ref="vendorCode" minOccurs="0"/>
					</xs:sequence>
				</xs:choice>
				<xs:element ref="aliases" minOccurs="0"/>
				<xs:element ref="additional" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element ref="sales_notes" minOccurs="0"/>
				<xs:element ref="promo" minOccurs="0"/>
				<xs:element ref="manufacturer_warranty" minOccurs="0"/>
				<xs:element ref="country_of_origin" minOccurs="0"/>
				<xs:element ref="downloadable" minOccurs="0"/>
				<xs:element ref="adult" minOccurs="0"/>
				<xs:element ref="age" minOccurs="0"/>
				<xs:element ref="barcode" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="param" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="related_offer" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minExclusive value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="group_id" type="xs:string"/>
			<xs:attribute name="type">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="vendor.model"/>
						<xs:enumeration value="book"/>
						<xs:enumeration value="audiobook"/>
						<xs:enumeration value="artist.title"/>
						<xs:enumeration value="tour"/>
						<xs:enumeration value="ticket"/>
						<xs:enumeration value="event-ticket"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="available" type="xs:boolean" use="required"/>
			<xs:attribute name="bid" type="xs:string"/>
			<xs:attribute name="cbid" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="url" nillable="false">
		<xs:simpleType>
			<xs:restriction base="xs:anyURI"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="store">
		<xs:simpleType>
			<xs:restriction base="xs:boolean"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="email" type="xs:string"/>
	<xs:element name="platform" type="xs:string"/>
	<xs:element name="version" type="xs:string"/>
	<xs:element name="agency" type="xs:string"/>
	<xs:element name="buyurl" type="xs:string"/>
	<xs:element name="picture" nillable="false">
		<xs:simpleType>
			<xs:restriction base="xs:anyURI"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="pickup" nillable="false">
		<xs:simpleType>
			<xs:restriction base="xs:boolean"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="delivery" nillable="false">
		<xs:simpleType>
			<xs:restriction base="xs:boolean"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="deliveryIncluded">
		<xs:complexType/>
	</xs:element>
	<xs:element name="local_delivery_cost">
		<xs:simpleType>
			<xs:restriction base="xs:float">
				<xs:minInclusive value="0" />
				<xs:pattern value="\d+.{0,1}\d{0,2}" />
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="orderingTime">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="onstock" minOccurs="0"/>
				<xs:element ref="ordering"/>
				<xs:element ref="deliveryTime" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="onstock">
		<xs:complexType/>
	</xs:element>
	<xs:element name="ordering">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="hours" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="deliveryTime">
		<xs:complexType/>
	</xs:element>
	<xs:element name="price" nillable="false">
		<xs:simpleType>
			<xs:restriction base="xs:float">
				<xs:pattern value="\d+.\d\d"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="wprice" type="xs:string"/>
	<xs:element name="currencyId" type="xs:string"/>
	<xs:element name="categoryId">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:int">
					<xs:attribute name="type" default="Own">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Yandex"/>
								<xs:enumeration value="Torg"/>
								<xs:enumeration value="Own"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="market_category" type="xs:string"/>
	<xs:element name="typePrefix" type="xs:string" nillable="false"/>
	<xs:element name="vendor" nillable="false">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="vendorCode" type="xs:string"/>
	<xs:element name="model" type="xs:string" nillable="false"/>
	<xs:element name="author" type="xs:string"/>
	<xs:element name="name" nillable="false">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:whiteSpace value="collapse"/>
				<xs:minLength value="1"/>
				<xs:pattern value=".+"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="publisher" type="xs:string"/>
	<xs:element name="ISBN" type="xs:string"/>
	<xs:element name="volume" type="xs:string"/>
	<xs:element name="part" type="xs:string"/>
	<xs:element name="language" type="xs:string"/>
	<xs:element name="binding" type="xs:string"/>
	<xs:element name="page_extent" type="xs:string"/>
	<xs:element name="table_of_contents" type="xs:string"/>
	<xs:element name="performed_by" type="xs:string"/>
	<xs:element name="performance_type" type="xs:string"/>
	<xs:element name="storage" type="xs:string"/>
	<xs:element name="format" type="xs:string"/>
	<xs:element name="recording_length" type="xs:string"/>
	<xs:element name="series" type="xs:string"/>
	<xs:element name="year" type="xs:string"/>
	<xs:element name="artist" type="xs:string"/>
	<xs:element name="title" type="xs:string"/>
	<xs:element name="media" type="xs:string"/>
	<xs:element name="starring" type="xs:string"/>
	<xs:element name="director" type="xs:string"/>
	<xs:element name="originalName" type="xs:string"/>
	<xs:element name="country" type="xs:string"/>
	<xs:element name="description" nillable="false">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:whiteSpace value="collapse"/>
				<xs:minLength value="1"/>
				<xs:pattern value=".+"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="sales_notes" type="xs:string"/>
	<xs:element name="promo" type="xs:string"/>
	<xs:element name="aliases" type="xs:string"/>
	<xs:element name="provider" type="xs:string"/>
	<xs:element name="tarifplan" type="xs:string"/>
	<xs:element name="xCategory" type="xs:string"/>
	<xs:element name="additional" type="xs:string"/>
	<xs:element name="worldRegion" type="xs:string"/>
	<xs:element name="region" type="xs:string"/>
	<xs:element name="days" type="xs:string"/>
	<xs:element name="dataTour" type="xs:string"/>
	<xs:element name="hotel_stars" type="xs:string"/>
	<xs:element name="room" type="xs:string"/>
	<xs:element name="meal" type="xs:string"/>
	<xs:element name="included" type="xs:string"/>
	<xs:element name="transport" type="xs:string"/>
	<xs:element name="price_min" type="xs:string"/>
	<xs:element name="price_max" type="xs:string"/>
	<xs:element name="options" type="xs:string"/>
	<xs:element name="manufacturer_warranty" type="xs:boolean"/>
	<xs:element name="country_of_origin" type="xs:string"/>
	<xs:element name="downloadable" type="xs:string"/>
	<xs:element name="adult" type="xs:string"/>
	<xs:element name="age" type="xs:string"/>
	<xs:element name="barcode" type="xs:string"/>
	<xs:element name="param">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="name" type="xs:string" use="required"/>
					<xs:attribute name="unit" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="related_offer" type="xs:string"/>
	<xs:element name="place" type="xs:string"/>
	<xs:element name="hall">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="plan" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="hall_part" type="xs:string"/>
	<xs:element name="is_premiere" type="xs:string"/>
	<xs:element name="is_kids" type="xs:string"/>
	<xs:element name="date" type="xs:string"/>
</xs:schema>
